@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400;1,500;1,600;1,800&family=Protest+Revolution&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #0d1117;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-family: " serif";
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
}

ul {
  list-style: none;
}

/* ######## utility classes ############*/

.flex {
  display: flex;
  align-items: center;
}

/* ######## Navbar classes ############*/

.nav {
  margin: 2px 0px;
  padding: 5px;
  position: relative;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 1); */
  box-shadow: 0 0 1px #e8e8e8;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  display: flex;
  gap: 25px;
  align-items: center;
  
}

.links li {
  margin-right: 18px;
}

.links li a {
  font-size: 25px;
  border-bottom: 3px solid transparent;
}
.links li a:hover {
  color: #00e558;
    transition: 0.6s ease-in-out;
    border-bottom: 3px solid #00e558;
}


.btns{
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.btn{
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 12px;
  outline: none;
  border: none;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(100deg, #1a91da, #00e558);
    transition: 0.6s ease-in-out;
    color: aliceblue;
}

.ham {
  display: none;
  cursor: pointer;
}

.close{
  display: none;
}

/* mobile menu */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0; /* Hidden off-screen initially */
  width: 250px;
  height: 100%;
  background-color: #1a202c;
  padding-top: 20px;
  transition: 0.3s; /* For smooth sliding effect */
  z-index: 1;
  transform: translateX(-100%);
}

.sidebar.active {
  transform: translateX(0); /* Slide the sidebar in */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
/* ######## SearchBar classes ############*/

.container{
  margin: 20px 10px;
  box-shadow: 0 0 2px #e8e8e8;
  border-radius: 10px;
  background-color: #161b25;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.search-box{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 5px;
  background-color: #191e24;
  box-shadow: 0 0 5px #e8e8e8;
}

.search-box input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  background-color: #191e24;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.search-container button {
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #191e24;
  color: aliceblue;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.search-container button:hover {
  background-color: #0d1117;
  box-shadow: 0 0 5px #e8e8e8;
}

.filter{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  /* justify-content: space-around; */
  justify-items: center; 
  gap: 20px;
  
}

.filter-box{
  height: 40px;
  display: flex;
  align-items: center;
  margin: 20px;
 
}

.filter-box input[type="text"], select{
  box-shadow: 0 0 2px #e8e8e8;
  padding: 5px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: #12151a;
  color: aliceblue;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.filter input[type="text"] :focus, select:focus {
  outline: none;
  box-shadow: 0 0 10px #00e558;
}

/* ######## Search Reasults ############*/
.result{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #505050;
}

/* ######## Responsive design for smaller screens ############*/

@media ( max-width: 1280px) {
  .links{
    display: none;
  }

  .btns{
    display: none;
  }

  .ham {
    display: block;
    
  }
  
  .filter{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

 .close{
  display: block;
 }

 .sidebar{
  display: block;
 }
 
}


@media ( max-width: 786px) {
  
  .filter {
    grid-template-columns: 1fr; 
    gap: 10px;
  }  
}

@media ( max-width: 416px) {
  .search-box{
    width: 200px;
  }

  .search-box input[type="text"] {
    width: 195px;
  }
}