@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400;1,500;1,600;1,800&family=Protest+Revolution&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-family: " serif";
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

ul {
  list-style: none;
}

/* ######## utility classes ############*/

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 2rem;
  font-weight: 500;
}
.primary-btn,
.secondary-btn {
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  padding: 10px 22px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-out, box-shadow 0.3s ease;
}

.primary-btn {
  color: #ffffff !important;
}

.secondary-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
}

.primary-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
}

.secondary-btn:hover {
  background-color: rgb(0, 0, 0) !important ;
  color: rgb(255, 255, 255) !important;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* ######## Navbar classes ############*/
.nav {
  padding: 25px;
  position: relative;
}

.main-nav {
  justify-content: space-between;
}
.nav-links ul {
  gap: 30px;
}
.moblie-navbar-btn {
  display: none;
}

.mobile-nav-icon {
  font-size: 2rem;
  font-size: 3.2rem;
  color: black;
  color: #ffffff;
}

button {
  font-size: 2rem;
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid #ffffff;
  cursor: pointer;
  /* opacity: 0.9; */
  width: 100%;
}
.btn button:hover {
  opacity: 1;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-card {
  background: white;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-image {
  width: 50%;
  display: flex;
  align-items: center;
}

.rounded-image {
  max-width: 100%;
  border-radius: 8px;
}

.register-form {
  width: 50%;
  padding: 0 1em;
  color: black;
}

.logo-container {
  text-align: center;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  color: #553cdf;
}

input,
select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  padding: 0.7em 1.5em;
  margin-right: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: #1890ff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  margin-bottom: 1em;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar::before {
  content: "";
  display: block;
  height: 100%;
  background-color: #1890ff;
  width: 0;
}
