@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 600;
}

.navBar {
  background-color: #181c14;
  width: 100%;
  height: 70px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 600;
  font-style: normal;
  border-bottom: 0.3px solid grey;
}

.navBar .left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .left img {
  width: 140px;
}

.navBar .middle {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .middle a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 0px 20px;
  opacity: 0.8;
}

.navBar .right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .right button {
  width: 90px;
  height: 45px;
  font-size: 14px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
}

#logInBtn {
  background-color: rgb(45, 45, 45);
  color: white;
  opacity: 0.8;
  margin-right: 10px;
}


.sideBar{
  height: 100%;
  position: fixed;
  top: 0;
  right: 1900px;
  z-index: 34;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.566);
  backdrop-filter: blur(5px);
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}
.sideBar span{
  background-color: grey;
  color: white;
}
.sideBar a{
  text-decoration: none;
  color: white;
}

.openSideBar{
  margin: 0px 10px;
  right: 0;
  padding: 5px 5px;
  position: fixed;
display: none;
border: 1px solid black;
background-color: rgb(64, 64, 64);
border-radius: 10px;
}

.container {
  background-color: rgb(241, 241, 241);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
}

.innerContainer img {
  width: 200px;
  height: 200px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

p,
li {
  font-weight: 400;
}

.container * {
  margin: 15px 0px;
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 25px;
  }

  .innerContainer {
    flex-direction: column-reverse;
  }

  .postName {
    font-size: 30px;
  }

  .innerContainer img {
    width: 150px;
    height: 150px;
  }

  .jobHeading{
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .navBar{
    display: none;
  }
  
  .openSideBar{
    display: block;
    position: absolute;
  }
}