@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main{
    width: 100%;
    height: 700px;
    display: flex;
}

.main .left {
    width: 40%;
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
    padding: 0px 20px;
    background-color: #d2deff;
}

.left h1{
    font-size: 55px;
    font-weight: 700;
}

.left p{
    margin: 0;
}

.left span{
    background: -webkit-linear-gradient(
    45deg,
    #004cff,
    rgb(76, 215, 183),
    #004cff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: rgb(238, 238, 255);
    /* background: linear-gradient(-100deg, #ffffff, #ffffff, rgb(227, 227, 255));
    background-blend-mode: overlay; */
}


.row{
    padding: 20px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.block{
    width: 300px;
    border-radius: 20px;
    border: 1px solid rgb(30, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(126, 126, 126);
}

.pfp{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 215, 255);
    padding: 20px;
}

.pfp img{
    width: 50%;
}

.blockDesc{
    width: 100%;
    height: 50%;
    padding: 0px 10px;
    
}

.blockDesc p{
margin: 5px;
}

.blockDesc button{
    background-color: blue;
    color: white;
}

.blockDesc .caption{
    font-size: 13px
}

@media screen and (max-width: 1000px) {
    .main{
        height: auto;
        flex-direction: column;
    }

    body{
        background-color: #eef2ff;
    }
    .main .left {
        width: 100%;
        height: 200px;
        background-color: #eef2ff;
    }

    .main .right{
        width: 100%;
        background: #eef2ff;
    }
}

@media screen and (max-width: 700px){
    .left h1{
        font-size: 45px;
    }
    .left p{
       font-size: 14px;
    }

    .block{
        width: 250px;
    }

    .blockDesc b{
        font-size: 15px;
        }

    .blockDesc button{
       font-size: 12px;
    }

    .blockDesc .caption{
        font-size: 10px
    }
        
    
}

@media screen and (max-width: 600px){
    .left h1{
        font-size: 40px;
    }
    .left p{
       font-size: 12px;
    }
    
    .block{
        width: 200px;
    }
    .blockDesc b{
        font-size: 13px;
        }

    .blockDesc button{
       font-size: 10px;
    }

    .blockDesc .caption{
        font-size: 9px
    }
}

@media screen and (max-width: 500px){
.row{
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.block{
    margin: 10px 0px;
    width: 250px;

}

.blockDesc{
    padding: 20px 10px;
}

.blockDesc b{
    font-size: 18px;
    }

    .blockDesc .caption{
        font-size: 11px
    }
}