<!-- ####### Navbar ####### -->

<div class="navBar">
    <div class="left">
        <img
            src="../assets/logo_components/Engineer-studyhub-nav-log.png"
            alt />
    </div>
    <div class="middle">
        <a href="../pages/index.html">Home</a>
        <a href="../pages/studyHubDashboard.html">Learning Materials
        </a>
        <a href="../pages/jobPortal.html">Job Portal</a>
        <a href="../pages/host.html">Host</a>
        <a href="../pages/developerHub.html">Developers Hub</a>
        <a href="../pages/dashboard.html">Dashboard</a>
        <a href="../pages/aboutUs.html">About Us</a>
        <!-- <a href="../pages/contact.html">Contact Us</a> -->
    </div>
    <div class="right">
        <a href="../pages/login.html"> <button id="logInBtn">Log
                in</button></a>
        <a href="../pages/signUp.html"><button>Sign up</button></a>
    </div>
</div>
