form{
    border: 1px solid black;
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content:center;
}

.navBar {
    background-color: #181c14;
    width: 100%;
    height: 70px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    border-bottom: 0.3px solid grey;
  }
  
  .navBar .left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBar .left img {
    width: 140px;
  }
  
  .navBar .middle {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBar .middle a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 0px 20px;
    opacity: 0.8;
  }
  
  .navBar .right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBar .right button {
    width: 90px;
    height: 45px;
    font-size: 14px;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
  }
  
  #logInBtn {
    background-color: rgb(45, 45, 45);
    color: white;
    opacity: 0.8;
    margin-right: 10px;
  }
  
  
  .sideBar{
    height: 100%;
    position: fixed;
    top: 0;
    right: 1900px;
    z-index: 34;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.566);
    backdrop-filter: blur(5px);
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
  }
  .sideBar span{
    background-color: grey;
    color: white;
  }
  .sideBar a{
    text-decoration: none;
    color: white;
  }
  
  .openSideBar{
    margin: 0px 10px;
    right: 0;
    padding: 5px 5px;
    position: fixed;
  display: none;
  border: 1px solid black;
  background-color: rgb(64, 64, 64);
  border-radius: 10px;
  }
  @media screen and (max-width: 600px) {
    .navBar{
      display: none;
    }
    
    .openSideBar{
      display: block;
      position: absolute;
    }
  }  